<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- For Header & Footer -->
      <ins class="adsbygoogle"
          style="display: grid; align-self: center; width: 100%; margin-top: 16px; justify-content: center;"
          data-ad-client="ca-pub-5990916854968300"
          data-ad-slot="2435890919"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
<footer class="footer footer-dark" style="background-color: #2C3E50; color: #fff; margin-top: 16px;">
    <div class="container" style="text-align: center">
      MyRBLX IS IN NO WAY, SHAPE, OR FORM AFFILIATED WITH ROBLOX.
      <br>
      <a href="termsconditions">TERMS AND CONDITIONS</a>
      <br>
      <a href="privacypolicy">PRIVACY POLICY</a>
    </div>
  </footer>
</body>
</html>