<div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="MainModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #FFF">
            <div class="modal-body">
                <img class="mainModalImage" src="assets/img/money-bag.svg" height="256" width="100%" alt="">
                <h3 class="main-modal-title mainModalTitle" style="font-weight: bold">You've got Money!!!</h3>
                <h3 class="main-modal-title mainModalText" style="margin-bottom: 16px; margin-top: 16px; font-size: 1.1rem; color: #757575">
                    You just earned <strong>0 R$</strong> from <strong>Gilo Quiz Site</strong>
                </h3>
                <button class="btn payout-button-green mainModalButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>