  <%- include('includes/header.ejs') -%>
    <section>
      <div class="container">
        <div class="col-12 align-items-center">
          <h1 class="title">You've Been Banned</h1>
          <h1 class="subtitle">Sorry, You've Been Banned From Using This Website</h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="mx-1 my-2 white-container-instructions">
              <img class="instruction-image" src="assets/img/icons/link.png" style="height: 100px;">
              <h1 class="title instruction-title">1. Link Account</h1>
              <p class="subtitle instruction-subtitle">
                Link your account by entering your username, we will <strong>NEVER</strong> ask for your password.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mx-1 my-2 white-container-instructions">
              <img class="instruction-image" src="assets/img/icons/earn.png" style="height: 100px;">
              <h1 class="title instruction-title">2. Earn Robux</h1>
              <p class="subtitle instruction-subtitle">
                Watch videos, complete surveys or download apps to earn ROBUX extremely fast!
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mx-1 my-2 white-container-instructions">
              <img class="instruction-image" src="assets/img/icons/redeem.png" style="height: 100px;">
              <h1 class="title instruction-title">3. Redeem Points</h1>
              <p class="subtitle instruction-subtitle">
              After earning a minimum of 5 R$ you can instantly withdraw the Robux directly into your Roblox account!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
<%- include('includes/footer.ejs') -%>