  <%- include('includes/header.ejs') -%>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-4">
            <div class="blue-container my-2 row m-0">
              <div class="col-6" style="padding: 0">
                <img src="assets/img/icons/robux_icon.png" style="height: 60px;">
              </div>
              <div class="col-6" style="padding: 0">
                <div class="my-1">
                  <p class="stats-title">Your Robux</p>
                  <p class="stats-value earnUserRobux">-</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-4">
            <div class="green-container my-2 row m-0">
              <div class="col-6" style="padding: 0">
                <img src="assets/img/icons/robux_icon.png" style="height: 60px;">
              </div>
              <div class="col-6" style="padding: 0">
                <div class="my-1">
                  <p class="stats-title">Available R$</p>
                  <p class="stats-value availableRobuxValue">-</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-4 ">
            <div class="red-container my-2 row m-0">
              <div class="col-6" style="padding: 0">
                <img src="assets/img/icons/robux_drop.png" style="height: 60px;">
              </div>
              <div class="col-6" style="padding: 0">
                <div class="my-1">
                  <p class="stats-title">Robux Drop</p>
                  <p class="stats-value robuxDropCountdown">-</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container" style="padding-top: 16px; padding-bottom: 0px">
            <div class="buttons-container col-12 row m-0">
              <div class="col-md-12 col-lg-4 col-sm-12 px-2 my-2">     
                <button class="btn my-sm-0 social-join-button-blue discordButton" style="font-weight: bold" type="submit">Join Discord (+0.5$)</button>
              </div>
              <div class="col-md-12 col-lg-4 col-sm-12 px-2 my-2">     
                <button class="btn my-sm-0 social-join-button-red youtubeButton" style="font-weight: bold" type="submit">Subscribe (+0.25$)</button>
              </div>
              <div class="col-md-12 col-lg-4 col-sm-12 px-2 my-2">     
                <button class="btn my-sm-0 social-join-button-green instagramButton" style="font-weight: bold" type="submit">Follow Instagram (+0.25$)</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container" style="padding-top: 0px">
            <div class="earn-white-container">
              <div class="earn-offerwalls-container mx-1 row justify-content-center earnOfferwallsContainer">
               
              </div>
              <div class="earn-warning-container">
                  We recommend only using MyRBLX for all offers to work successfully!
                  <br>
                  If you completed an offer on another website the offer will not credit you on this website!
                  <BR>
                  Each Quiz on the Gillo Quiz Site can only be completed once every 48 hours.
              </div>
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Black (LS Viral) -->
                <ins class="adsbygoogle"
                    style="display:grid; justify-content: center"
                    data-ad-client="ca-pub-5990916854968300"
                    data-ad-slot="7623045121"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              <iframe id="earnIFrame" style="width: 100%; min-height: 700px; max-height: 1200px; margin-top: 16px;" frameborder="0"></iframe>
              <div class="quizSiteContainer" style="display: none;">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('includes/footer.ejs') -%>